.venv/
.vscode/
__pycache__/

data/*
!data/.gitkeep

states/*
!states/.gitkeep

# Added for Python Pascal VOC Evaluator
detections/
groundtruths/
tester/

# Added for Detectron2
detectron2/


# Gokberk
.devcontainer/
.ipynb_checkpoints/
Dockerfile.Jupyter
eval.ipynb
jupyter/

